import requests ,random
from requests import get,post

while True:
    chars="qw_ertyuiopa.123456789.0sdfghjkl_z.xc_vbn_mqwer.t_yuiopasd0123466.559856_fghjkl.zxcvbnmqwert000.yuio_pasdf.ghjklzxc.vbnmqw.ertyuiopasd_fghj.klzx.cvbnmqwertyuiopasdfghjklzxcvbnmqwertyuiopasdfghjklzxcvbnm12345678901234567890.";user=""
    for user in range(1):
        user=""
        for item in range(4):
            user+=random.choice(chars)
            #user = input("@")
            CheckUser0 = "https://www.tiktok.com/@"+user
            head={
                "accept": "text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.9",
                "accept-encoding": "gzip, deflate, br",
                "accept-language": "en-US,en;q=0.9,ar;q=0.8",
                "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/108.0.0.0 Safari/537.36"}
            r = requests.get(url=CheckUser0, headers=head)

            if r.status_code==404:
                print("Available @"+user+"\n")
                post(f"https://api.telegram.org/bot5750883090:AAENEcXGLxyUf9PPQ0d-wCyv9UNzRYJ4-kQ/sendMessage?chat_id=-1001749325849&text=• New username’s Claimed @{username} ✯ \n\nBy\t@Jpno'")
                with open('Available.txt', 'a') as x:
                    x.write(user+'\n')
            else:
                print("Not Available @"+user)
